.jumbotron > img {
    width: 100%;
}

.brand {
    background-image: url(../images/wyh.jpg);
    height: 421px;
    background-position: 100% 100%;
}

.enterprise-title .ibrand{
    font-size: 1.2em;
}

.brand .block {
    z-index: 1;
    background-color: rgb(208, 0, 13);
    height: 50px;
    color: white;
    font-size: 2.3em;
    text-align: center;
    margin-top: 350px;
}

.brand .text {
    position: absolute;
    left: 100px;
    top: 400px;
    z-index: 1;
}

.brand .brand-right {
    margin-left: 10%;
}
.right{
    float: right;
}

.brand .brand-left {
    margin-left: 20%;
}

.expert {
    padding: 5px 0px;
}

.experts-info .detals .avatar {    
    float: left;
    margin: 0px 5px;
    height: 70px;
}



.expert .avatar img {
    height: 100%;
    width: 100%;
}

.expert-name {
    font-weight: bold;
}

.notice {
    background-color: rgb(208, 0, 13);
    color: white;
/*    font-size: 20px;*/
    font-size: 1.7em;
    text-align: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    -webkit-box-shadow: 10px 10px 5px #888888;
    box-shadow: 0px 5px 15px #888888;
}

.notice-block {
    background-color: rgb(238, 238, 238);
}

.notice-block .notice-text {
    position: inherit !important;
    font-size: 1.4em !important;
}
.notice-text a{
    color: rgb(127, 127, 127);
}





.band-m {
    color: rgb(159,159,160);
    font-weight: bold;
    font-size: 1.4em;
}

.band-s {
    color: rgb(159,159,160);
/*    font-size: 13px;*/
    font-size: 1.1em;
}

.order {
/*    font-size: 16px;*/
    font-size: 1.1em;
    font-weight: bold;
    background-color: rgb(243, 243, 243);    
    padding: 5px 11px;
    color: rgb(127, 127, 127);
}


.default {
    color: rgb(170, 30, 29);
}

.sold {
    font-weight: normal;
}

.thin {
    font-weight: normal;
}

.frame {
    border: 1px solid black;
}

.order.special {
    margin-left: -20px;
}

.activity .normal-width {
    float: left;
    width: 11%;
    margin-right: 1%;
}

.activity .wide-width {
    float: left;
    margin-right: 1%;
    width: 34%;
}

.activity {
    word-wrap: break-word;
    font-weight: bold;
}

.activity  > .title{
/*    font-size: 16px;*/
    font-size: 1.3em;
}

.activity .address {
    color: rgb(0, 72, 255);
}

.time-width {
    float: left;
    width: 7%;
    margin-right: 1%;
}

.activity .block {
    margin-left: -15px;
    margin-right: -15px;
}

.enterprise .enterprise-title {
    background-color: rgb(209, 0, 12);
    color: white;
    padding: 5px;
    font-size: 1.1em;
}

.brand .three span{
margin-left: 6.5%;
}
.content .irow > span{
    padding: 0px 5px;
}

.search-block .top-item span{
    margin: 0px 10px;
}
.search-button > span{
    position: relative;
    top: 5px;
    left: 5px;
    letter-spacing: 12px;
}
.search-block .top-item span:first-child{
    margin-left: 30px
}

.search-block .top-item {
    width: 40%;
    text-align: left;
}

.search-frame .magnifier {
    display: inline-block;
    position: relative;
    height: 37px;
    width: 40px;
    top: -11px;
    left: 5px;
    border: 2px solid rgb(208, 0, 13);
    border-right: none;
    padding-left: 10px
}
.search-frame .magnifier img{
    position: relative;
    top: 5px;
    left: -5px;
    height: 21px;
    width: 21px;
}

.search-frame input[type=text]{
    border: 2px solid rgb(208, 0, 13);
    border-left: none;
    width: 30%;
}

.search-frame .search-button {
    display: inline-block;
    border: 2px solid rgb(208, 0, 13);
    height: 37px;
    position: relative;
    top: -7px;
    left: -6px;
    width: 90px;
    background-color: rgb(208, 0, 13);
    color: white;
    
}

.search-block .search-div {
    width: 100%;
}

.notice-text-small {
    position: inherit !important;
    font-size: 1em !important;
}

.category span{
    margin-right: 15px;
}

.category .items {
    width: 91%;;
}

.category span a {
    color: rgb(128, 128, 128);
}

.goods .order-rules {
    height: 40px;
    background-color: rgb(243, 243, 243);
}

.order-rules .v-m {
    line-height: 40px;
}
.order-rules > span{
    margin: 0px 5px;
}
.order-rules > span:first-child{
    margin: 0px 10px;
}

.order-rules .gray-down-arrow {
    height: 20px;
    width: 20px;
    position: relative;
    top: px;
}

.order-rules > span {
    
}

.order-rules .ipagination {
    position: relative;
    top: 7px;
}

.brand .tips {
    margin-right: 30px;
}

.goods .progress-bar {
    height: 20px;
    border: 1px solid rgb(208, 0, 13);
    width: 100%;
    background-color: white;
    color: gray;
    font-size: bold;
}

.progress-bar .has {
    float: left;
    text-align: right;
    display: inline-block;
    width: 60%;
    background-color: rgb(208, 0, 13);
    color: white;
    padding-right: 10px;
}

.goods .goods-img img{
    width: 100%;
    height: 100%;
}

.progress-bar .target {
    display: inline-block;
    width: 40%;
    text-align: right;
}

.content .money {
    display: inline-block;
    width: 49.3%;
}

.goods {
    border: 1px solid rgb(208, 0, 13);
    margin-bottom: 20px;
}

.content .goods-intro-text {
    font-size: 1em;
}

.left-move {
    position: relative;
    left: -30px;
    top: 25px;
}

.goods .goods-img {
    height: 247px;
}

.progress-bar .has-zero {
    display: inline-block;
    width: 58%;
    text-align: left;
}

.progress-bar .complete {
    background-color: rgb(208, 0 ,13);
    display: inline-block;
    width: 100%;
    color: white;
}
